<div class="tool-bar">
	<file-chooser-directive class="small-action-button"></file-chooser-directive>

	<md-button class="toolbar-button" ng-click="$ctrl.downloadFile()">
		<i class="fa fa-download"></i>
	</md-button>

	<file-panel-component ng-class="{ hidden: $ctrl._viewModel.nodeHovered }"></file-panel-component>
	<node-path-panel-component ng-class="{ hidden: !$ctrl._viewModel.nodeHovered }"></node-path-panel-component>

	<div class="right-aligned">
		<loading-gif-map-component></loading-gif-map-component>

		<presentation-mode-button-component></presentation-mode-button-component>

		<md-button class="toolbar-button cc-shadow global-settings" ng-click="$ctrl.showGlobalSettings()">
			<i class="fa fa-cog"></i>
		</md-button>
	</div>
</div>
